#########################################
###        Configuration file         ###
###     A comment begins by "###"     ###
#########################################

[User]
### Use input file list instead of run list (default is 0).
### This can be useful for MC studies.
UserUseInputFileList 0

### Run lists folder adress (absolute path)
UserRunListsFolderAdress /Users/julien/Desktop/These/Tools/hap-11-02/analysis/list/

### Run list file name (will be automatically completed by .list)
UserRunListFileBaseName CrabSmall

### Folder in which outputs are written (absolute path)
### if empty, nothing is saved
UserOutputFolderName /Users/julien/Desktop/These/Tools/hap-11-02/analysis/Crab/

### ROOT file output name (will be automatically completed by .root)
### Output will be saved as UserOutputFolderName/UserOutputRootFileName.root
UserOutputRootFileName Crab_output


[Data]
### Indivual runs root files folder adress (absolute path)
### (runs produced by the analysis and used as input for the spectrum)
UserRootFilesFolderAddress /Users/julien/Desktop/These/Tools/hap-11-02/analysis/data/data_Crab/

### Set a cos(zenith) range max value : if the run cos(zen) distrib
### is larger than this value, the two zen bands will be used  
UserMaxCosZenBinWidth 0.05

### Set zenith max (compare to each zen band mean value. Skip part of run if necessary)
UserZenithMax 70.

### Set offset max (cut used for select runs)
UserOffsetMax 2.1

### Set minimal time (seconds) to consider a zen and offset band
UserTmin 200.

### Use MJD windows for spectrum 
### range have to be separated by a coma
### Add an arbitrary number of lines such as:
###UserMJDwindow 53944.12345,53944.23223


[Analysis]
### Type of IRF (e.g. hess hybrid, hess mono, hess stereo, cta array X...)
### Available:
### HapFr_Hess_Stereo
### HapFr_Hess_Hybrid
### HapFr_Hess_Mono
UserIrfOpt HapFr_Hess_Stereo

### A label for the user analysis configuration (azimuth, cuts, analysis type)
### this is used for output names and also for collection area and resolution access
UserAnalysisConfig std_north_1b

### Config type (unused at present: use preferably UserMcProductionName)
UserAnalysisConfigType default

### Force area & resol analysis config (usefull for extended sources)
###UserForceAreaAnalysisConfig   std_north_th064

### Minimal effective area used to determine treshold
UserAreaMin 4.

### Set fsp energy range MIN value (TeV)
UserERangeMin 0.2

### Set fsp energy range MAX value
UserERangeMax 50.

### Set fsp energy number of bins
UserERangeBinsNumber 30

### Set a MIN energy value participating to the fit
###UserFitEMin 1.

### Set a MIN energy value participating to the fit
###UserFitEMax 10.

### Options for grouping the bands during the minimization   
### Choices are: 
### None: each band is treated individually  
### StackInOneBand: the bands are merged in one band (no interpolation between IRF is done) 
UserBandsGroupingTypeForMinimization = None

### Option to compute contours
### choice are : 
### 0 no contours
### 1 contours for two first parameters of all hypothesis
### 2 all contours are computed for all hypothesis (can be very long)
UserComputeContours 0

### Number of points for countours
UserContoursNumberOfPoints 30

### Option to compute contours
### choice are : 
### 0 no scans
### 1 scans are computed for all hypothesis and all parameters
UserComputeScanLikelihood 0

### Option for minimization "intensity"
### choice are : 
### 0 minimization is done for hypothesis
### 1 minimization is done for hypothesis + minos errors
### 2 minimization is done for hypothesis, integrated flux hypothesis and energy flux hypothesis
### 3 minimization is done for hypothesis + minos errors, integrated flux hypothesis and energy flux hypothesis
UserMinimizationLevel 0

### If 1 comparison by minimization will be done for all hypothesis
UserHypothesisComparison 0


[LightCurve]
### Time cutting type
### 0 no LightCurve
### 1 Run by run
### 2 Minute by minute
### 3 Hour by hour (1h)
### 4 Night by night (12h)
### 5 Day by day (24h)
### 6 Week by week (7x24h)
### 7 Month by month (30x24h)
### 8 Year by year (365.25 days)
### 9 GivenTimeInterval (specify the value of UserLightCurveTimeInterval in seconds)
### 10 UserTimeIntervals (specify the values of UserLightCurveUserTimeIntervals in MJD)
### 11 PeriodByPeriod (Full moon from full moon) 
### Add an arbitrary number of lines such as:
UserLightCurveTimeCuttingType 0

### Time range used for light curve in MJD time
### Interval have to be separated by a coma
UserLightCurveTimeRange 50000,60000

### Integrated flux energy range (TeV)
UserLightCurveIntegratedFluxEnergyRange 0.2,1.e6

### Time interval used for light curve in MJD time for time cutting type GivenTimeInterval
### Interval have to be set in SECONDS!
UserLightCurveTimeInterval 60.

### User time intervals in MJD for time cutting type UserTimeIntervals
### Add an arbitrary number of lines such as:
### UserLightCurveUserTimeIntervals 55000,55500

### Light curves plot time axis units
### 0 MJD
### 1 year and month #splitline{Jul}{2012}
### 2 Year, month and day (e.g 23/03/12)
### 3 Hour, minute and second (23:12:06)
UserLightCurveTimeAxisUnits 0

### Light curves plot errors handling
### 0 Gaussian
### 1 Rolke
### Add an arbitrary number of lines like:
###UserLightCurveErrorsHandling 0
UserLightCurveErrorsHandling 1

[MC]
### MC production used to determine the threshold (will be completed automatically by _eff##)
UserMcProductionName gFixedEnergy_paris_0-8-8-8_CamOptimal_hwtrig

### For MC runs
UserIsMc 0


[Hypothesis]
### It is possible to minimize a set of hypothesis. You can add hypothesis as much
### as you want. For example : 
### UserAddHypothesis 1
### UserAddHypothesis 4
### will add a PowerLaw and a BrokenPowerLaw. Hypothesis are defined by : 
### 1 = PowerLaw
### 2 = ExpoCutOffPowerLaw
### 3 = LogParabolic
### 4 = BrokenPowerLaw
### 5 = SuperExpoCutOffPowerLaw
### 6 = SmoothBrokenPowerLaw
### Add an arbitrary number of lines such as:
UserAddHypothesis 1
###UserAddHypothesis 2
###UserAddHypothesis 3
###UserAddHypothesis 4
###UserAddHypothesis 5

### To define the reference energy (TeV)
UserEref 1

### To define the integration range for integrated hypothesis
### range have to be separated by a coma (in TeV)
UserHypothesisIntegrationEnergyRange 0.2,1.6


[Plots]
### Name of the source to add on the main plot (PlotFactory::UserFriendly)
### If none, no name will be printed on plots (for all plotstyles). 
UserSourceName Gaia

### If 0 you won't have spectrum's plot and if 1 tou will
UserDrawPlots 1

### If 0 Default : same as UserFriendly without bins in spectrum
### If 1 UserFriendly : The cherry on the cake
### If 2 Paper : same as UserFriendly without TPaveText, source name and bins in spectrum
UserPlotStyle 1

### Define the butterfly on the main plot
### You have the choice with :
### 0 no butterfly is drawn 
### 1 linear butterfly (covariance of flux) is drawn 
### 2 logarithm butterfly (covariance of log flux e.g. Fermi) is drawn 
### 3 contours (contours have to be computed, works only for PWL!!) is drawn 
### 4 Caustic (contours have to be computed, works only for PWL!!) is drawn 
### Add an arbitrary number of lines such as:
UserButterfly 1
###UserButterfly 2
###UserButterfly 3
###UserButterfly 4

### Set the minimum significance each used energy bin must have  
### If 0, no rebinning will be done
### Add an arbitrary number of lines such as:
UserHypothesisRebin 1.5

### If 1 a line representing the best fitted parameters will be drawn of the main spectrum
UserFitResultsDrawing 0

### If 1 you will have data summary plots
UserDrawDataSummaryPlots 0
